@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  --brand-color1: #50C7E7;
  --brand-color2: #0078C4;
  --brand-color3: #005489;
  --brand-color4: #FFC226;
  --text-primary: #000000;
  --text-secondary: #7A7F84;
}

* {
  box-sizing: border-box;
  --main-green-500: #4CAFA9;
  --main-color-400: #5FDBD3;
  --main-color-300: #E7FAF8;
  --gray-1: #2E2E2E;
  --gray-2: #898989;
  --gray-3: #DADADA;
  font-family: "Noto Sans TC", sans-serif !important;
}

select {
  background-image: url(../image/down_gray.png);
  color: var(--gray-1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
  -webkit-appearance: textfield;
          appearance: textfield;
  text-align: end;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.pagiantion {
  margin-top: 12px;
}

.title {
  width: 100%;
  margin-bottom: 0;
}

.selectModal .content .top table th,
.selectModal .content .top table td {
  padding: 8px 0;
}
.selectModal .content .top table th button.confirm,
.selectModal .content .top table td button.confirm {
  font-family: Noto Sans TC, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28.96px;
  text-align: center;
  color: #fff;
  border: none;
  padding: 6px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #5fdbd3;
}

.selectModal .content .top {
  max-height: 80vh;
  overflow-y: scroll;
}

.selectModal .content .top table th button.confirm,
.selectModal .content .top table td button.confirm:hover {
  background-color: #2d9790;
}

.input-row {
  --row_gap: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--row_gap);
  max-width: 100%;
  padding: 4px 0;
}
.input-row.scrollX {
  max-width: 100%;
  overflow-x: auto;
}
.input-row.between {
  justify-content: space-between;
}
.input-row.between .left {
  display: flex;
  gap: 10px 24px;
  flex-wrap: wrap;
}
.input-row.between .left b {
  font-weight: 600;
}
.input-row.between .right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.input-row.between span {
  color: #4e4e4e;
  font-size: 14px;
}
.input-row.start {
  padding: 8px;
}
.input-row.start span {
  color: #4e4e4e;
  font-size: 14px;
}
.input-row.end {
  justify-content: flex-end;
}
@media (max-width: 684px) {
  .input-row.end {
    justify-content: center;
  }
}
.input-row.arrange .input-wrapper {
  width: calc(25% - var(--row_gap) * 3 / 4);
}
.input-row .input-wrapper {
  position: relative;
  margin: 4px 0;
}
.input-row .input-wrapper.hidden {
  display: none;
}
.input-row .input-wrapper {
  min-width: calc(20% - var(--row_gap) * 4 / 5);
  max-width: calc(20% - var(--row_gap) * 4 / 5);
}
@media (max-width: 1380px) {
  .input-row .input-wrapper {
    min-width: calc(25% - var(--row_gap) * 3 / 4);
  }
}
@media (max-width: 1255px) {
  .input-row .input-wrapper {
    min-width: calc(33% - var(--row_gap) * 2 / 3);
  }
}
@media (max-width: 947px) {
  .input-row .input-wrapper {
    min-width: calc(50% - var(--row_gap) / 2);
  }
}
@media (max-width: 639px) {
  .input-row .input-wrapper {
    min-width: 100%;
  }
}
.input-row .input-wrapper.full {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
.input-row .input-wrapper.half {
  width: calc(50% - var(--row_gap) / 2);
  max-width: 100%;
}
@media (max-width: 947px) {
  .input-row .input-wrapper.half {
    width: 100% !important;
    max-width: 100% !important;
  }
}
.input-row .input-wrapper.half-locked {
  width: calc(50% - var(--row_gap) / 2);
  max-width: calc(50% - var(--row_gap) / 2);
  min-width: calc(50% - var(--row_gap) / 2);
}
.input-row .input-wrapper.quarter {
  min-width: calc(25% - var(--row_gap) * 3 / 4);
}
@media (max-width: 1255px) {
  .input-row .input-wrapper.quarter {
    min-width: calc(33% - var(--row_gap) * 2 / 3);
  }
}
@media (max-width: 947px) {
  .input-row .input-wrapper.quarter {
    min-width: calc(50% - var(--row_gap) / 2);
  }
}
@media (max-width: 639px) {
  .input-row .input-wrapper.quarter {
    min-width: 100%;
  }
}
.input-row .input-wrapper.quarter-locked {
  min-width: calc(25% - var(--row_gap) * 3 / 4);
}
.input-row .input-wrapper.fifteen {
  min-width: calc(16.66% - var(--row_gap) * 5 / 6);
  max-width: calc(16.66% - var(--row_gap) * 5 / 6);
}
@media (max-width: 1380px) {
  .input-row .input-wrapper.fifteen {
    min-width: calc(25% - var(--row_gap) * 3 / 4);
    max-width: calc(25% - var(--row_gap) * 3 / 4);
  }
}
@media (max-width: 1255px) {
  .input-row .input-wrapper.fifteen {
    min-width: calc(33% - var(--row_gap) * 2 / 3);
    max-width: none;
  }
}
@media (max-width: 947px) {
  .input-row .input-wrapper.fifteen {
    min-width: calc(50% - var(--row_gap) / 2);
  }
}
@media (max-width: 639px) {
  .input-row .input-wrapper.fifteen {
    min-width: 100%;
  }
}
.input-row .input-wrapper.auto-w {
  max-width: none;
}
.input-row .input-wrapper label {
  position: absolute;
  left: 12px;
  top: 10px;
  font-size: 18px;
  color: #aaa;
  pointer-events: none;
  transition: 0.2s ease all;
  background-color: white;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-row .input-wrapper label span.red {
  color: #C72525;
}
.input-row .input-wrapper input,
.input-row .input-wrapper input[type=password] {
  border: 2px solid var(--gray-3);
  width: 100%;
  padding: 6px 12px !important;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  color: var(--gray-1);
  background-color: white !important;
  min-height: 36.05px;
}
.input-row .input-wrapper input:not(:-moz-placeholder) + label, .input-row .input-wrapper input[type=password]:not(:-moz-placeholder) + label {
  top: -12px;
  left: 12px;
  font-size: 12px;
  padding: 5px;
  background-color: white;
  color: var(--main-green-500);
  font-size: 14px;
  font-weight: 400;
  z-index: 2;
}
.input-row .input-wrapper input:focus + label, .input-row .input-wrapper input:not(:placeholder-shown) + label,
.input-row .input-wrapper input[type=password]:focus + label,
.input-row .input-wrapper input[type=password]:not(:placeholder-shown) + label {
  top: -12px;
  left: 12px;
  font-size: 12px;
  padding: 5px;
  background-color: white;
  color: var(--main-green-500);
  font-size: 14px;
  font-weight: 400;
  z-index: 2;
}
.input-row .input-wrapper input:not(:-moz-placeholder) + label.email, .input-row .input-wrapper input[type=password]:not(:-moz-placeholder) + label.email {
  padding: 1px 8px 2px;
}
.input-row .input-wrapper input:focus + label.email, .input-row .input-wrapper input:not(:placeholder-shown) + label.email,
.input-row .input-wrapper input[type=password]:focus + label.email,
.input-row .input-wrapper input[type=password]:not(:placeholder-shown) + label.email {
  padding: 1px 8px 2px;
}
.input-row .input-wrapper input:focus,
.input-row .input-wrapper input[type=password]:focus {
  border: 2px solid #4cafa9;
}
.input-row .input-wrapper input[disabled],
.input-row .input-wrapper input[type=password][disabled] {
  opacity: 0.5;
  pointer-events: none;
}
.input-row .input-wrapper input.hidden,
.input-row .input-wrapper input[type=password].hidden {
  display: none;
}
.input-row .input-wrapper input[type=date] {
  color: #2D2D2D;
  padding: 5px 12px !important;
}
.input-row .input-wrapper input[type=date] + label {
  left: 10px;
  top: 10px;
  font-size: 18px;
  padding-right: 40px;
  height: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: white;
  color: #aaa;
}
.input-row .input-wrapper input[type=date]:focus + label, .input-row .input-wrapper input[type=date].has-value + label {
  top: -12px;
  left: 12px;
  font-size: 12px;
  padding: 5px;
  background-color: white;
  color: var(--main-green-500);
  font-size: 14px;
  font-weight: 400;
}
.input-row .input-wrapper input[type=date]:focus {
  border: 2px solid var(--main-green-500);
}
.input-row .input-wrapper select {
  width: 100%;
  padding: 6px 30px 6px 12px;
  font-size: 18px;
  outline: none;
  border-radius: 5px;
  color: var(--gray-1);
  background-size: 12px;
  border: 2px solid var(--gray-3);
  background-color: white;
}
.input-row .input-wrapper select:focus + label, .input-row .input-wrapper select.has-value + label {
  top: -12px;
  left: 12px;
  font-size: 12px;
  padding: 5px;
  background-color: white;
  color: var(--main-green-500);
  font-size: 14px;
  font-weight: 400;
}
.input-row .input-wrapper select:focus {
  border: 2px solid var(--main-green-500);
}
.input-row .input-wrapper select option {
  color: var(--gray-1);
}
.input-row .input-wrapper textarea {
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--gray-3);
  font-size: 18px;
  color: var(--gray-1);
}
.input-row .input-wrapper textarea:focus + label, .input-row .input-wrapper textarea.has-value + label {
  top: -12px;
  left: 12px;
  font-size: 12px;
  padding: 5px;
  background-color: white;
  color: var(--main-green-500);
  font-size: 14px;
  font-weight: 400;
}
.input-row .input-wrapper textarea:focus {
  border: 2px solid var(--main-green-500);
}
.input-row .input-wrapper.fit {
  width: -moz-fit-content;
  width: fit-content;
}
.input-row .input-wrapper.disabled input {
  opacity: 0.4;
  pointer-events: none;
}
.input-row .input-wrapper.disabled label {
  opacity: 0.4;
}
.input-row .input-wrapper .float-div {
  --padding-right: 48px;
  width: calc(100% - 48px);
  height: 90%;
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
}
.input-row .input-wrapper .float-div span {
  color: #707070;
}
.input-row .input-wrapper .float-div input {
  border: none;
  text-align: center;
}
.input-row .input-wrapper .float-div input.year {
  flex: 2;
}
.input-row .input-wrapper .float-div input.month {
  flex: 1;
}
.input-row .input-wrapper .float-div input.day {
  flex: 1;
}
.input-row .check-box-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px 40px;
  flex-wrap: wrap;
}
.input-row .check-box-wrapper .check-item {
  width: 10%;
  min-width: 168px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.input-row .check-box-wrapper .check-item span {
  color: var(--gray-1);
  font-size: 18px;
  font-weight: 400;
}
.input-row .check-box-wrapper.w-376 {
  max-width: 376px;
}
.input-row .radio-box {
  display: flex;
  gap: 4px;
  border: 2px solid var(--gray-3);
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 5px;
  color: var(--gray-1);
  background-color: white;
  min-height: 36.05px;
  min-width: calc(20% - var(--row_gap) * 4 / 5);
}
.input-row .radio-box.half {
  min-width: calc(40% - var(--row_gap) * 4 / 5);
  max-width: calc(40% - var(--row_gap) * 4 / 5);
}
@media (max-width: 1255px) {
  .input-row .radio-box.half {
    min-width: calc(33% - var(--row_gap) * 2 / 3);
  }
}
@media (max-width: 947px) {
  .input-row .radio-box.half {
    min-width: calc(50% - var(--row_gap) / 2);
  }
}
@media (max-width: 639px) {
  .input-row .radio-box.half {
    min-width: 100%;
  }
}
@media (max-width: 1255px) {
  .input-row .radio-box {
    min-width: calc(33% - var(--row_gap) * 2 / 3);
  }
}
@media (max-width: 947px) {
  .input-row .radio-box {
    min-width: calc(50% - var(--row_gap) / 2);
  }
}
@media (max-width: 639px) {
  .input-row .radio-box {
    min-width: 100%;
  }
}
.input-row .radio-box.quarter {
  min-width: calc(25% - var(--row_gap) * 3 / 4);
}
@media (max-width: 1255px) {
  .input-row .radio-box.quarter {
    min-width: calc(33% - var(--row_gap) * 2 / 3);
  }
}
@media (max-width: 947px) {
  .input-row .radio-box.quarter {
    min-width: calc(50% - var(--row_gap) / 2);
  }
}
@media (max-width: 639px) {
  .input-row .radio-box.quarter {
    min-width: 100%;
  }
}
.input-row.w-20 {
  width: 20%;
  min-width: 168px;
  padding: 0;
}
.input-row.w-20.max-168 {
  max-width: 168px;
}
@media (max-width: 550px) {
  .input-row.w-20.max-168 {
    max-width: 100%;
  }
}
@media (max-width: 550px) {
  .input-row.w-20 {
    width: 100%;
  }
}

.dot-border {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
}
@media (max-width: 990px) {
  .dot-border {
    font-size: 16px;
  }
}
.dot-border .dotted-line {
  flex: 1;
  height: 30px;
  background-image: url("../image/list/dashed-line.png");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

.switch-box {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: flex-start;
}
.switch-box span {
  font-size: 18px;
  color: #4e4e4e;
}
.switch-box span.locked {
  color: red;
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 14px;
  overflow: visible;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e6e6e6;
  transition: 0.4s;
  border-radius: 14px;
}
.switch .slider::before {
  content: "";
  position: absolute;
  height: 16.8px;
  width: 16.8px;
  left: 0;
  bottom: -1px;
  background-color: rgb(151, 150, 150);
  transition: 0.4s;
  border-radius: 50%;
}
.switch input:checked + .slider {
  background-color: #a0cef3;
}
.switch input:checked + .slider::before {
  transform: translateX(16px);
  background-color: #3b83bd;
}

.fixed-btn-box {
  position: fixed;
  right: 24px;
  bottom: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.fixed-btn-box button {
  color: white;
  border: none;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 10px rgb(160, 160, 160);
  position: relative;
}
.fixed-btn-box button span {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 100%;
}
.fixed-btn-box button.confirm-add {
  background-color: #5fdbd3;
  color: #5fdbd3;
}
.fixed-btn-box button.confirm-add:hover {
  background-color: #4bbbb3;
  color: #4bbbb3;
}
.fixed-btn-box button.return {
  background-color: #4cafa9;
  color: #4cafa9;
}
.fixed-btn-box button.return:hover {
  background-color: #2b7973;
  color: #2b7973;
}

.selectModal-new {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 9999;
  inset: 0;
}
.selectModal-new.active {
  display: block;
}
.selectModal-new .modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgb(255, 255, 255);
  padding: 0px;
  box-shadow: 1px 1px 10px gray;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 16px;
  border-radius: 8px;
  min-width: 60%;
  --box-paddindg: 26px;
  animation: fadeIn 0.6s forwards;
  max-height: 100vh;
}
@media (max-width: 990px) {
  .selectModal-new .modal {
    --box-paddindg: 12px;
    gap: 8px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
.selectModal-new .modal.small {
  min-width: 40%;
}
@media (max-width: 1200px) {
  .selectModal-new .modal {
    min-width: 80%;
  }
}
@media (max-width: 860px) {
  .selectModal-new .modal {
    min-width: 100%;
  }
}
.selectModal-new .modal .top {
  width: calc(100% - var(--box-paddindg) * 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--box-paddindg) 0 10px;
  margin: 0 var(--box-paddindg);
  border-bottom: 1px solid #2E2E2E;
}
.selectModal-new .modal .top .title {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  border-bottom: none;
  display: flex;
  align-items: baseline;
  gap: 8px;
}
@media (max-width: 990px) {
  .selectModal-new .modal .top .title {
    font-size: 20px;
  }
}
.selectModal-new .modal .top .title span.gray {
  font-size: 16px;
  color: gray;
}
.selectModal-new .modal .top button.closeBtn {
  border: none;
  background: transparent;
  cursor: pointer;
}
.selectModal-new .modal .top button.closeBtn img {
  width: 32px;
  opacity: 0.5;
}
.selectModal-new .modal .main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  padding: 0px var(--box-paddindg) 0px;
  max-height: 560px;
  overflow-y: auto;
}
.selectModal-new .modal .main .between {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selectModal-new .modal .main .between .btns-box {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.selectModal-new .modal .main input.search {
  background: url("../image/search.svg") no-repeat left 10px center;
  padding-left: 36px;
}
@media (max-width: 990px) {
  .selectModal-new .modal .main input.search {
    font-size: 16px;
  }
}
.selectModal-new .modal .main .subTitle {
  font-size: 22px;
  font-weight: 500;
}
@media (max-width: 990px) {
  .selectModal-new .modal .main .subTitle {
    font-size: 18px;
  }
}
.selectModal-new .modal .main .table-box {
  width: 100%;
  min-height: 360px;
  max-height: 360px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--gary-3) transparent;
  /* Chrome / Safari / Edge (WebKit) */
}
.selectModal-new .modal .main .table-box::-webkit-scrollbar {
  width: 8px;
}
.selectModal-new .modal .main .table-box.no-min-height {
  min-height: -moz-fit-content;
  min-height: fit-content;
}
@media (max-width: 990px) {
  .selectModal-new .modal .main .table-box {
    min-height: 300px;
    max-height: 300px;
  }
}
.selectModal-new .modal .main .table-box table {
  width: 100%;
  overflow-y: hidden;
}
.selectModal-new .modal .main .table-box table td,
.selectModal-new .modal .main .table-box table th {
  text-align: center;
  padding: 5px;
  font-size: 18px;
}
@media (max-width: 990px) {
  .selectModal-new .modal .main .table-box table td,
  .selectModal-new .modal .main .table-box table th {
    font-size: 16px;
    padding: 4px;
  }
}
.selectModal-new .modal .main .table-box table td.text-start,
.selectModal-new .modal .main .table-box table th.text-start {
  text-align: start;
}
.selectModal-new .modal .main .table-box table thead {
  position: sticky;
  top: -1px;
  z-index: 99;
}
.selectModal-new .modal .main .table-box table thead tr th {
  border: 1px solid white;
  border-bottom: none;
  background-color: var(--main-green-500);
  color: white;
  font-weight: 700;
}
.selectModal-new .modal .main .table-box table tbody tr td {
  border: 1px solid var(--gray-3);
  font-weight: 400;
}
.selectModal-new .modal .main .table-box table tbody tr td button {
  font-size: 16px;
  font-weight: 400;
  border-radius: 4.5px;
  padding: 4px 16px;
  color: white;
  background-color: var(--main-color-400);
  cursor: pointer;
  border: none;
  outline: none;
}
@media (max-width: 990px) {
  .selectModal-new .modal .main .table-box table tbody tr td button {
    padding: 2px 12px;
  }
}
.selectModal-new .modal .main .table-box table tbody tr td button.red {
  background-color: #DB4F4F;
}
.selectModal-new .modal .main .table-box table tbody tr td button:hover {
  filter: brightness(0.9);
}
@media (max-width: 990px) {
  .selectModal-new .modal .main .table-box table tbody tr td select {
    font-size: 16px;
    padding: 2px 30px 1px 12px;
  }
}
.selectModal-new .modal .main .table-box table tbody tr:nth-child(even) {
  background-color: var(--main-color-300);
}
.selectModal-new .modal .main .table-box table tbody tr.disabled {
  background-color: #F1F1F1;
  pointer-events: none;
}
.selectModal-new .modal .main .table-box table tbody tr.hidden {
  display: none;
}
.selectModal-new .modal .main .table-box table tbody.bg-white tr {
  background-color: white;
}
.selectModal-new .modal .main .table-box table tbody.bg-white tr.disabled {
  background-color: #F1F1F1;
  pointer-events: none;
}
.selectModal-new .modal .pagiantion {
  margin: 0;
  padding: 0;
  font-size: 18px;
  justify-content: center;
  padding: 0 var(--box-paddindg);
}
@media (max-width: 990px) {
  .selectModal-new .modal .pagiantion {
    font-size: 16px;
  }
}
@media (max-width: 990px) {
  .selectModal-new .modal .pagiantion ul {
    gap: 8px;
  }
}
.selectModal-new .modal .pagiantion div input {
  padding: 2px 10px;
  border-radius: 4.5px;
}
@media (max-width: 990px) {
  .selectModal-new .modal .pagiantion div input {
    padding: 0 8px;
  }
}
.selectModal-new .modal .pagiantion div button {
  padding: 1px 16px 3px;
}
@media (max-width: 990px) {
  .selectModal-new .modal .pagiantion div button {
    font-size: 16px;
  }
}
.selectModal-new .modal .pagiantion div button:hover {
  filter: brightness(90%);
}
.selectModal-new .modal .footer {
  width: 100%;
  border-top: 1px solid #DADADA;
  padding: 20px var(--box-paddindg);
}
@media (max-width: 990px) {
  .selectModal-new .modal .footer {
    padding: 12px var(--box-paddindg);
  }
}
.selectModal-new .modal .footer .btn-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
@media (max-width: 990px) {
  .selectModal-new .modal .footer .btn-box {
    gap: 12px;
  }
}
.selectModal-new .modal .footer .btn-box button {
  font-family: Noto Sans TC, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.96px;
  text-align: center;
  color: #fff;
  border: none;
  padding: 6px 20px;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 990px) {
  .selectModal-new .modal .footer .btn-box button {
    font-size: 16px;
    padding: 4px 12px;
  }
}
.selectModal-new .modal .footer .btn-box button.confirm {
  background-color: var(--main-green-500);
}
.selectModal-new .modal .footer .btn-box button.delete {
  background-color: #DB4F4F;
}
.selectModal-new .modal .footer .btn-box button.cancel {
  background-color: var(--gray-2);
}
.selectModal-new .modal .footer .btn-box button:hover {
  filter: brightness(0.9);
}
.selectModal-new .modal .footer .btn-box button.disabled {
  opacity: 0.5;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
@media (max-width: 990px) {
  .selectModal-new .input-row {
    --row_gap: 8px;
  }
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  --black-1: #2E2E2E;
  --gray-2: #898989;
  --gary-3: #DADADA;
  --gray-4: #F1F1F1;
  --main-500: #4CAFA9;
  --main-400: #5FDBD3;
  --main-300: #E7FAF8;
  --blue-500: #0075CC;
}

.edit-box {
  width: 100%;
  padding: 25px 28px;
}
@media (max-width: 1200px) {
  .edit-box {
    padding: 25px 8px;
  }
}

#min-width-box {
  position: relative;
}
#min-width-box .title {
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#min-width-box .title h3 {
  font-size: 28px;
  font-weight: 400;
}
#min-width-box .form-box {
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
#min-width-box .form-box .nav {
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
#min-width-box .form-box .nav span {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  padding: 16px 20px 12px;
  color: var(--gray-2);
  cursor: pointer;
}
#min-width-box .form-box .nav span.active {
  font-weight: 500;
  color: var(--blue-500);
  border-bottom: 5px solid var(--blue-500);
}
#min-width-box .form-box .input-box {
  padding: 14px 40px 40px;
  display: none;
}
@media (max-width: 1200px) {
  #min-width-box .form-box .input-box {
    padding: 14px 8px 40px;
  }
}
#min-width-box .form-box .input-box.active {
  display: block;
}
#min-width-box .form-box .input-box .input-row {
  gap: 16px var(--row_gap);
}
#min-width-box .form-box .input-box .input-row div.gray-16 span {
  font-size: 16px;
  color: var(--gray-2);
}
#min-width-box .form-box .input-box .nav-second {
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
#min-width-box .form-box .input-box .nav-second span {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  padding: 12px 18px 8px;
  color: var(--gray-2);
  cursor: pointer;
}
#min-width-box .form-box .input-box .nav-second span.active {
  color: var(--blue-500);
  border-bottom: 2px solid var(--blue-500);
}
#min-width-box .form-box .input-box .input-box-second {
  width: 100%;
  padding: 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  display: none;
}
#min-width-box .form-box .input-box .input-box-second.active {
  display: block;
}
#min-width-box .form-box .dot-border {
  opacity: 0.5;
}
#min-width-box .form-box .center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#min-width-box .form-box .center.btn-box button {
  background-color: var(--main-400);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 35px;
  aspect-ratio: 1/1;
  cursor: pointer;
}
#min-width-box .form-box .center.btn-box button img {
  width: 24px;
}
#min-width-box .form-box .center.btn-box button:hover {
  filter: brightness(0.8);
}
@media (max-width: 684px) {
  #min-width-box .form-box .center.btn-box {
    display: none;
  }
}
#min-width-box ul.account-state-list {
  position: relative;
  width: 215px;
  background-color: white;
  padding: 8px;
  display: none;
  filter: drop-shadow(0px 0px 1px rgb(185, 185, 185));
  border-radius: 4px;
  transform: translateY(-10px);
  transition: all 1s ease-in-out;
  visibility: hidden;
  height: 0px;
  color: #4e4e4e;
  font-size: 18px;
  margin-bottom: 16px;
}
#min-width-box ul.account-state-list.active {
  display: block;
  visibility: visible;
  height: auto;
  transform: translateY(0%);
}
#min-width-box ul.account-state-list li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}
#min-width-box ul.account-state-list li span.choice {
  min-width: 42px;
  text-align: center;
}
#min-width-box ul.account-state-list li:nth-last-child(1) {
  margin-bottom: 0;
}
#min-width-box table.account-table {
  margin-top: 8px;
  margin-bottom: 16px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgb(218, 218, 218);
}
#min-width-box table.account-table.personal {
  width: 68%;
}
#min-width-box table.account-table.personal.mobile {
  width: 100%;
}
#min-width-box table.account-table.personal tr th {
  background-color: #4cafa9;
  color: white;
  font-size: 14px;
}
#min-width-box table.account-table.personal tr td {
  color: #2d2d2d;
  font-size: 14px;
}
#min-width-box table.account-table.personal tr td:hover {
  background-color: #f8ffff;
}
@media (max-width: 890px) {
  #min-width-box table.account-table {
    display: none;
  }
}
#min-width-box table.account-table.mobile {
  display: none;
}
@media (max-width: 890px) {
  #min-width-box table.account-table.mobile {
    display: table;
    width: 100%;
  }
  #min-width-box table.account-table.mobile tbody tr td {
    cursor: default !important;
  }
}
#min-width-box table.account-table tr th,
#min-width-box table.account-table tr td {
  border-collapse: collapse;
  border: 1px solid #dadada;
  text-align: center;
  padding: 8px;
  font-size: 18px;
}
#min-width-box table.account-table tr th,
#min-width-box table.account-table tr td.mobile-th {
  background-color: #4CAFA9;
  color: white;
  font-weight: 700;
}
#min-width-box table.account-table tr td {
  color: #2d2d2d;
  font-weight: 500;
}
#min-width-box table.account-table tr td.pointer {
  cursor: pointer;
}
#min-width-box table.account-table tr td.with-caption::before {
  content: attr(data-caption);
  /* 抓取 data-caption 的值 */
  display: block;
  font-size: 14px;
  color: #555;
}
#min-width-box table.account-table tr td.disabled {
  background-color: #F1F1F1;
  pointer-events: none;
}
#min-width-box table.account-table tr td.openJob .flexBox {
  display: flex;
  width: 100%;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}
#min-width-box table.account-table tr td.openJob .flexBox button.icon-job {
  border: none;
  background-color: rgb(243, 211, 239);
  padding: 4px 8px;
  border-radius: 4px;
  color: #2d2d2d;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 16px;
  font-weight: 400;
}
#min-width-box table.account-table tr td.openJob .flexBox button.icon-job:hover {
  background-color: rgb(230, 178, 223);
}
#min-width-box table.account-table tr td.openAccess .flexBox {
  display: flex;
  width: 100%;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}
#min-width-box table.account-table tr td.openAccess .flexBox button.icon-access {
  border: none;
  background-color: rgb(247, 206, 132);
  padding: 4px 8px;
  border-radius: 4px;
  color: #2d2d2d;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 16px;
  font-weight: 400;
}
#min-width-box table.account-table tr td.openAccess .flexBox button.icon-access:hover {
  background-color: rgb(228, 184, 104);
}
#min-width-box table.account-table tr td .button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
#min-width-box table.account-table tr td button {
  font-size: 16px;
  font-weight: 400;
  border-radius: 4.5px;
  padding: 4px 16px;
  color: white;
  background-color: var(--main-color-400);
  cursor: pointer;
  border: none;
  outline: none;
}
#min-width-box table.account-table tr td button.red {
  background-color: #DB4F4F;
}
#min-width-box table.account-table tr td button.gray {
  background-color: rgb(180, 180, 180);
}
#min-width-box table.account-table tr td button:hover {
  filter: brightness(0.9);
}
#min-width-box table.account-table tr td button.squire {
  padding: 4px 8px;
}
#min-width-box table.account-table tr td button img {
  width: 24px;
  margin-bottom: 2px;
}
#min-width-box table.account-table tr td.addRow button.addRowBtn {
  background-color: rgb(107, 116, 146);
  padding: 6px 6px 4px;
  border: none;
  border-radius: 50%;
}
#min-width-box table.account-table tr td.addRow:hover {
  background-color: white;
}
#min-width-box table.account-table tr td.addRow:hover button.addRowBtn {
  background-color: rgb(66, 73, 95);
}
#min-width-box table.account-table tr.disabled {
  background-color: #F1F1F1;
  pointer-events: none;
}
#min-width-box table.account-table.bg-white tr {
  background-color: white;
}
#min-width-box table.account-table.bg-white tr.disabled {
  background-color: #F1F1F1;
  pointer-events: none;
}
#min-width-box:nth-last-child(1) {
  margin-bottom: 24px;
}/*# sourceMappingURL=editPage.css.map */